@import "https://fonts.googleapis.com/css?family=Lato:400,700,900";

:root {
  --white: white;
  --light-white: #ddf7d9;
  --light-grey: #f8f3f3;
  --grey: #e5e5e5;
  --dark-grey: rgba(0, 0, 0, 0.36);
  --light-green: #b4e3b3;
  --green: #4e924c;
  --dark-green: #478d46;
  --light-black: #686868;
  --boxes-gap: 2.5rem;
  --soft-grey: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  padding: var(--boxes-gap);
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: var(--boxes-gap);
}

.section-box {
  background: var(--light-grey);
  height: 100%;
}
.section-box--summary {
  max-height: 60%;
}

.section-box--add-product {
  margin-bottom: var(--boxes-gap);
  max-height: 40%;
}

.section-box--products {
  width: 30%;
  height: 100%;
}

.section-box__title {
  margin-top: 0;
  text-align: center;
  background: var(--light-green);
  color: var(--green);
  font-size: 16px;
  font-weight: bold;
  padding: 0.75rem;
}

.add-product-form {
  display: flex;
  margin: 1.5rem 2rem;
}

.add-product-form__label {
  margin-bottom: 0.5rem;
}

.add-product-form__dropdown {
  padding: 0.7rem 5rem 0.7rem 0.7rem;
  background: var(--grey);
  border-color: var(--grey);
  color: var(--light-black);
}

.add-product-form__dropdown-item {
  font-size: 16px;
  padding: 0.1rem;
}

.add-product-form__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.add-product-form__wrapper--result {
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.add-product-form__input {
  border: solid var(--grey);
  padding: 0.7rem;
  background: var(--grey);
  color: var(--light-black);
}

.add-product-form__kcal-outcome {
  font-weight: bold;
  margin-bottom: 0.5rem 0;
  white-space: nowrap;
}

.add-product-form__kcal-info {
  color: var(--dark-grey);
  white-space: nowrap;
}

.add-product-form__button {
  padding: 0 3rem;
  margin-top: 1.5rem;
  border: 2px solid var(--dark-green);
  border-radius: 3px;
  text-align: center;
  margin-left: auto;
  margin-right: 4rem;
  text-transform: uppercase;
  background: var(--dark-green);
  color: var(--light-white);
  font-weight: bold;
  font-size: 14px;
}

.add-product-form__button:hover {
  transition-duration: 500ms;
  filter: brightness(130%);
  cursor: pointer;
}

.product-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.product-list--choosen-products {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-list__item {
  padding: 0.7rem;
  width: 100%;
  background: var(--grey);
  margin-bottom: 0.5rem;
}

.product-list__item--choosen-products {
  width: 60%;
  display: flex;
  box-shadow: 1.5px 1.5px 1.5px 1.5px var(--soft-grey);
}

.product-list__title {
  margin-bottom: 0.5rem;
}
.product-list__description {
  color: var(--dark-grey);
}
.product-list__description--choosen-products-amount {
  color: var(--dark-green);
}

.product-list__description--choosen-products-value {
  color: var(--dark-green);
}
.product-list__title--choosen-products {
  font-weight: bold;
  margin-right: 0.5rem;
}

.section-box__wrapper {
  display: flex;
}

.section-box__wrapper--left {
  margin-left: 0.5rem;
  width: 50%;
}

.section-box__wrapper--right {
  width: 50%;
  margin: 0 2rem;
}

.section-box__title--left {
  text-align: center;
}

.section-box__title--right {
  text-align: center;
}

.total__label--wrapper {
  display: flex;
  flex-direction: column;
  background: var(--grey);
  padding: 1rem;
  opacity: 0.7;
  box-shadow: 2px 2px 2px 2px var(--soft-grey);
}

.total__label {
  text-align: center;
  font-size: 2rem;
  color: var(--light-black);
}

.total__label--description {
  text-align: center;
  font-size: 1rem;
  color: var(--dark-green);
}

.section-box__image {
  margin: 4rem 10rem;
  display: flex;
  width: 300px;
  height: 150px;
}
