@import "https://fonts.googleapis.com/css?family=Lato:400,700,900";

:root {
  --white: white;
  --light-white: #DDF7D9;
  --light-grey: #f8f3f3;
  --grey: #E5E5E5;
  --dark-grey: rgba(0, 0, 0, 0.36);
  --light-green: #b4e3b3;
  --green: #4e924c;
  --dark-green: #478D46;
  --light-black: #686868;
  --boxes-gap: 2.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  padding: var(--boxes-gap);
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: var(--boxes-gap);
}

.section-box {
  background: var(--light-grey);
  height: 100%;
}

.section-box--add-product {
  margin-bottom: var(--boxes-gap);
  height: 40%;
}

.section-box--products {
  width: 30%;
}

.section-box__title {
  margin-top: 0;
  text-align: center;
  background: var(--light-green);
  color: var(--green);
  font-size: 16px;
  font-weight: bold;
  padding: 0.75rem;
}

.section-box__item {
  display: flex;
  margin: 3rem 4rem;
}

.section-box__item--title {
  margin-bottom: .5rem;
}

.section-box__dropdown {
  padding: .7rem 5rem .7rem .7rem;
  background: var(--grey);
  border-color: var(--grey);
  color: var(--light-black);
}


.secion-box__dropdown--item {
  font-size: 1rem;
  padding: .1rem;
}

.section-box__item--wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.section-box__input {

  border: solid var(--grey);
  padding: .7rem;
  background: var(--grey);
  color: var(--light-black);
}

.section-box-result {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-box-result__item--result {
  font-weight: bold;
}

.section-box__button {
  padding: 0 4rem;
  margin: 1rem auto;
  border: 2px solid var(--dark-green);
  border-radius: 3px;
  text-align: center;
  margin-left: 3rem;
  text-transform: uppercase;
  background: var(--dark-green);
  color: var(--light-white);
  font-weight: bold;
}



.product-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.product-list__item {
  padding: .7rem;
  width: 100%;
  background: var(--grey);
  margin-bottom: .5rem;
}

.product-list__title {
  margin-bottom: .5rem;
}

.product-list__description {
  color: var(--dark-grey);
}
